<section id="acerca_de">
    <div id="imagen_perfil" class="container-fluid">
       <div class="row" >
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" >
             <img [src]="info?.foto_perfil" class="img-fluid rounded-circle" alt="foto_perfil" id="foto" >
          </div>
       </div>
          <div class="row" id="foto_nombre">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3" id="nombre">
              <h4 id="dato" >{{ info?.nombre }} {{ info?.apellido }}</h4>
               <h5>{{ info?.titulo }}</h5>
             </div>
             <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7 text-center" >
              <h1>Acerca de mí</h1>
              <p>{{ info?.acerca_de }}</p>  
          </div>
       </div>
      </div>
  </section>
