
/*foto de perfil*/
#foto{
    position: relative;
    z-index: 1;
    left: 4%;
    height: auto;
    margin-top: -6.5rem;
    margin-left: 3.5rem;
    width: 10rem;
    
}
/*nombre*/
#dato{
    padding-left: 40px;
    font-weight: bold;
}
 h5{
    padding-left: 50px;
 }
