<form [formGroup]="form" (ngSubmit)="onEnviar($event)" name="experienciaForm">
            <div class="col-9 tab-content" id="v-pills-tabContent">
               <input type="hidden" name="id">
               <ul class="list-group list-group-horizontal">
                  <li class="list-group-item"><i class="fa-solid fa-pen-to-square" type="button"  data-bs-toggle="modal" data-bs-target="#experienciaModal" title="editar"></i></li>
               </ul>
               <h3>Experiencia</h3>
               <div class="mb-3">
                <label for="puesto" class="form-label">Cargo</label>
                <input type="text" class="form-control" id="puesto" formControlName="puesto"[ngClass]="{'is-invalid': form.get('puesto')?.errors && form.get('puesto')?.touched, 'is-valid': form.get('puesto')?.errors && form.get('puesto')?.touched}">
                <p class="text-danger" *ngIf="form.get('puesto')?.touched && form.get('puesto')?.errors?.['required']">
                  El puesto es requerido.
                </p>
              </div>
    
              <div class="mb-3">
                <label for="empresa" class="form-label">Nombre de la Empresa</label>
                <input type="text" class="form-control" id="empresa" formControlName="empresa" [ngClass]="{'is-invalid': form.get('empresa')?.errors && form.get('empresa')?.touched, 'is-valid': form.get('empresa')?.errors && form.get('empresa')?.touched}">
                <p class="text-danger" *ngIf="form.get('empresa')?.touched && form.get('empresa')?.errors?.['required']">
                  El nombre es requerido.
                </p>
              </div>
    
              <div class="mb-3">
                <label for="logoEmpresa" class="form-label">Logo Empresa</label>
                <input type="url" class="form-control" id="logoEmpresa" formControlName="logo">
             </div>
    
             <div class="mb-3">
               <label for="descripcion" class="form-label">Descripción del Puesto</label>
               <textarea class="form-control" id="descripcion" formControlName="descripcion" [ngClass]="{'is-invalid': form.get('descripcion')?.errors && form.get('descripcion')?.touched, 'is-valid': form.get('descripcion')?.errors && form.get('descripcion')?.touched}"></textarea>
               <p class="text-danger" *ngIf="form.get('descripcion')?.touched && form.get('descripcion')?.errors?.['required']">
                La descripción es requerida.
               </p>
             </div>
   
             <div class="mb-3">
               <div class="col-6">
                  <label for="fechaInicio" class="form-label">Fecha de Inicio</label>
               <input type="fecha" class="form-control" id="fechaInicio"  formControlName="fechaInicio">
               </div>
            </div>
   
             <div class="mb-3">
               <div class="col-6">
                  <label for="fechaFin" class="form-label">Fecha de Finalización</label>
                  <input type="fecha" class="form-control" id="fechaFin"  formControlName="fechaFin" >
               </div>
            </div>
   
             <div class="form-check form-switch">
               <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"
                 formControlName="esTrabajoActual">
               <label class="form-check-label" for="flexSwitchCheckDefault">Es Trabajo Actual?</label>
             </div>
   
             <div class="modal-footer">
                <button type="button" (click)="limpiar()" class="btn btn-outline-primary mt-2" title="limpiar">Cancelar</button>
                <button button type="submit" class="btn btn-outline-primary mt-2" title="guardar" >Guardar</button>
              </div>
            </div>
          </form>
        <app-editar-experiencia></app-editar-experiencia>
     

  

     