
   <div class="row">
     <div class="col-7 tab-content" id="v-pills-tabContent">
      <ul class="list-group list-group-horizontal">
         <li class="list-group-item"><i class="fa-solid fa-pen-to-square" type="button"></i></li>
         <li class="list-group-item"><i class="fa-solid fa-trash-can" type="button"></i></li>
      </ul>
      <h3>Proyectos</h3>
         <div class="mb-3">
            <label for="formFileSm" class="form-label">Nombre del Proyecto</label>
            <input class="form-control form-control-sm" id="formFileSm" type="text">
         </div>
         <div class="mb-3">
            <label for="formFileSm" class="form-label">Breve descripción</label>
            <label for="exampleFormControlTextarea1" class="form-label"></label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
         </div>
            <div class="mb-3">
              <label for="formFileSm" class="form-label">Foto del proyecto</label>
               <input class="form-control form-control-sm" id="formFileSm" type="file">
            </div>
         <div class="mb-3">
            <label for="formFileSm" class="form-label">URL</label>
           <input class="form-control form-control-sm" id="formFileSm" type="url">
         </div>
         <div class="mb-3">
            <ul class="list-group list-group-horizontal">
            <li class="list-group-item"><button type="button" class="btn btn-outline-primary mt-2">Cancelar</button></li>
            <li class="list-group-item"> <button type="button" class="btn btn-outline-primary mt-2">Guardar</button></li>
            </ul>
         </div>
      </div>
   </div>

