#educacion{
    margin: 20px;
    background-color: rgb(241, 245, 248);
    border-radius: 1em;
    padding-bottom: 2em;
}
.fecha{
    font-size: 13px;
    padding: 5px;
}
ul{
   list-style: none;
}
.img-fluid{
    padding:10px;
    width: 30%;
}
.row{
    padding:15px;
}