#educacion{
    margin: 60px;
    background-color: rgb(241, 245, 248);
    border-radius: 1em;
    padding-bottom: 1em;
}
.fecha{
    font-size: 13px;
    font-weight: bold;
    padding-top: 9px;
}
ul{
   list-style: none;
}
.img-fluid{
    width: 25%;
}