<ul class="list-group list-group-horizontal">
    <li class="list-group-item"><a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram fa-xl"></i></a></li>
    <li class="list-group-item"><a href="https://www.linkedin.com/feed/?trk=homepage-basic_google-one-tap-submit" target="_blank"><i class="fa-brands fa-linkedin fa-xl"></i></a></li>
    <li class="list-group-item"><a href="https://github.com/SoElSi80" target="_blank"><i class="fa-brands fa-github fa-xl"></i></a></li>
    <!--button trigger modal-->
    <li class="list-group-item" ><i class="fa-solid fa-user fa-xl" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"></i></li>
 </ul>
