<div class="modal fade" id="experienciaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <h1 class="modal-title fs-5" id="exampleModalLabel">Experiencias</h1>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
 
       <form [formGroup]="form" (ngSubmit)="onEnviar($event)" name="experienciaform">
         <div class="modal-body">
            <input type="hidden" name="id">
           <ul class="p-0">
             <li *ngFor="let experiencia of experienciaList" class="d-flex justify-content-between align-items-center m-1 ">
               <span>{{experiencia.id}} {{experiencia.empresa|uppercase}}</span>
               <span class="d-flex justify-content-between gap-2">
                 <!--editar-->
                 <button type="button" class="btn btn-sm btn-outline-dark pl-1 pr-1 m-0"
                   (click)="cargarDetalle(experiencia.id)">
                   <i class="fa-solid fa-pen"></i>
                 </button>
                 <!--borrar-->
                 <button type="button" class="btn btn-sm btn-outline-danger pl-1 pr-1 m-0"
                   (click)="borrar(experiencia.id)">
                   <i class="fa-solid fa-trash"></i>
                 </button>
               </span>
             </li>
           </ul>
            <!--esto es la validacion  renderizado condicional-->
            <div class="input-group mb-3 bg-light" *ngIf="!!form.value.id">
              <div class="input-group-prepend border-0">
                <span class="input-group-text border-0" id="basic-addon1">ID:</span>
              </div>
              <input class="form-control outline-none border-0 bg-transparent" type="text" readonly formControlName="id">
            </div>
          <h3>Experiencia</h3>
           <div class="mb-3">
             <label for="puestoEditar" class="form-label">Cargo</label>
             <input class="form-control"  [ngClass]="{'is-invalid': form.get('puesto')?.errors && form.get('puesto')?.touched, 'is-valid': form.get('puesto')?.errors && form.get('puesto')?.touched}" id="puestoEditar" formControlName="puesto" type="text" >
             <p class="text-danger" *ngIf="form.get('puesto')?.touched && form.get('puesto')?.errors?.['required']">
               El puesto es requerido.
             </p>
           </div>
 
           <div class="mb-3">
             <label for="empresaEditar" class="form-label">Nombre de la Empresa</label>
             <input class="form-control" [ngClass]="{'is-invalid': form.get('empresa')?.errors && form.get('empresa')?.touched, 'is-valid': form.get('empresa')?.errors && form.get('empresa')?.touched}" id="empresaEditar" formControlName="empresa" type="text">
             <p class="text-danger" *ngIf="form.get('empresa')?.touched && form.get('empresa')?.errors?.['required']">
               El nombre es requerido.
             </p>
           </div>
 
           <div class="mb-3">
             <label for="logoEditar" class="form-label">Logo Empresa</label>
             <input class="form-control" id="logoEditar" formControlName="logo"type="url" placeholder="Pegar Url de la foto">
          </div>
 
          <div class="mb-3">
            <label for="descripcionPuestoEditar" class="form-label">Descripción del Puesto</label>
            <textarea class="form-control" [ngClass]="{'is-invalid': form.get('descripcion')?.errors && form.get('descripcion')?.touched, 'is-valid': form.get('descripcion')?.errors && form.get('descripcion')?.touched}"formControlName="descripcion" id="descripcionPuestoEditar" rows="2" ></textarea>
            <p class="text-danger" *ngIf="form.get('descripcion')?.touched && form.get('descripcion')?.errors?.['required']">
             La descripción es requerido.
            </p>
          </div>

          <div class="mb-3">
            <div class="col-6">
               <label for="fechaInicioEditar" class="form-label">Fecha de Inicio</label>
            <input type="fecha" class="form-control" id="fechaInicioEditar"  formControlName="fechaInicio">
            </div>
         </div>

          <div class="mb-3">
            <div class="col-6">
               <label for="fechaFinEditar" class="form-label">Fecha de Finalización</label>
               <input type="fecha" class="form-control" id="fechaFinEditar"  formControlName="fechaFin" >
            </div>
         </div>

          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefaultEdit"
              formControlName="esTrabajoActual">
            <label class="form-check-label" for="flexSwitchCheckDefaultEdit">Es Trabajo Actual?</label>
          </div>

          <div class="modal-footer">
             <button type="button" (click)="limpiar()" class="btn btn-outline-primary mt-2" title="limpiar">Cancelar</button>
             <button button type="submit" class="btn btn-outline-primary mt-2" title="guardar">Guardar</button>
           </div>
         </div>
       </form>
     </div>
   </div>
  </div>
                     
