#proyectos{
    margin: 60px;
    background-color: rgb(241, 245, 248);
    border-radius: 1em;
    padding-bottom: 2em;
}

#foto_proyecto{
    position: relative;
    margin-top: 1rem;
    margin-left: 1.5rem;
    border-radius: 2%;
    border: 1px solid rgb(117, 117, 121);
    height: auto;
    width: 70%;
}

.time{
    font-weight: bold;
    font-size: 14px;
 }
.row{
    margin-bottom: 1em;
}