<section id="proyectos">
    <h2 class="text-center">{{ title }} </h2>
    <div class="container-fluid">
       <div class="row" *ngFor="let proyectos of proyectosList">
          <div class="col-3">
             <img [src]="proyectos.foto" id="foto_proyecto" class="img-fluid">
             <a href="{{ proyectos.url }}" id="link" target="_blank"><small>Ir al sitio</small></a>
              </div>
          <div class="col-7">
              <ul>
                <li><h4 class="titulo">{{ proyectos.nombre}}</h4></li>
                 <p class="time">{{ proyectos.fecha }}</p>
                 <p>{{ proyectos.descripcion }}<p>
                  
               </ul>
            </div>
         </div>
      </div>
</section>
