#experiencia{
    margin:20px;
    background-color: rgb(241, 245, 248);
    border-radius: 1em;
    padding-bottom: 2em;
}

.img-fluid{
padding:10px ;
}
.fecha{
    font-size: 13px;
    padding: 5px;
}
.row{
    padding: 15px;
}