#experiencia{
    margin:60px;
    background-color: rgb(241, 245, 248);
    border-radius: 1em;
    padding-bottom: 2em;
}
.fecha{
    font-size: 13px;
    font-weight: bold;
    padding-top: 9px;
}
ul{
   list-style: none;
}
.empresa{
    font-weight: bold;
}