#hard_soft_skills{
    margin: 50px;
    background-color: rgb(241, 245, 248);
    border-radius: 1em;
    padding-bottom: 1em;
}
h2{
    text-align: center;
}
/*progress*/
.progress{
    background-color: rgb(190, 193, 194);
}
.habilidad{
    font-weight: bold;
    
}
.row{
    margin-left: 20px;
}