<section id="hard_soft_skills">
   <h2>{{ title }}</h2>
    <div class="container-fluid" >
      <div class="row"*ngFor="let skill of skillList">
         <div class="col-3">
            <span class="habilidad">{{ skill.nombreHabilidad }}</span>
         </div>
         <div class="col-5">
             <div class="progress mb-3" style="height: 20px;" > 
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-label="Animated striped example"[style.width.%]='skill.porcentaje'aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{ skill.porcentaje }}%</div>
             </div>
          </div>
      </div>
   </div>
</section>
