    <div class="col-6 tab-content" id="v-pills-tabContent">
         <ul class="list-group list-group-horizontal">
            <li class="list-group-item"><i class="fa-solid fa-pen-to-square" type="button"></i></li>
            <li class="list-group-item"><i class="fa-solid fa-trash-can" type="button"></i></li>
         </ul>
         <h3>Educación</h3>
         <div class="mb-3">
            <label for="formFileSm" class="form-label">Institución Educativa </label>
            <input class="form-control form-control-sm" id="formFileSm" type="text">
         </div>
         <div class="mb-2">
            <label for="formFileSm" class="form-label">Logo</label>
            <input class="form-control form-control-sm" id="formFileSm" type="file">
         </div>
         <div class="mb-3">
            <label for="formFileSm" class="form-label">Título</label>
            <input class="form-control form-control-sm" id="formFileSm" type="text">
         </div>
         <div class="mb-3">
            <label for="formFileSm" class="form-label">Fecha de Inicio</label>
            <div class="col-6">
               <input class="form-control form-control-sm" id="formFileSm" type="month">
            </div>
            <div class="mb-3">
               <label for="formFileSm" class="form-label">Fecha de finalización</label>
               <div class="col-6">
                  <input class="form-control form-control-sm" id="formFileSm" type="month">
               </div>
               <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                  <label class="form-check-label" for="defaultCheck1">Actualidad</label>
               </div>
            </div>
         </div>
         <div class="mb-3">
            <ul class="list-group list-group-horizontal">
            <li class="list-group-item"><button type="button" class="btn btn-outline-primary mt-2">Cancelar</button></li>
            <li class="list-group-item"> <button type="button" class="btn btn-outline-primary mt-2">Guardar</button></li>
            </ul>
         </div>
      </div>
  
